

.header {
    font-family: Square Peg, Verdana, Arial, sans-serif;
    font-size: xx-large;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.footercont {
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 1%;
}

.footer {
    font-family: Square Peg, Verdana, Arial, sans-serif;
    font-size: large;
    background-color: black;
    color: white;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

body {
    margin: 0px;
    font-family: Lora, Verdana, Arial, sans-serif;
    background-color: black;
}

.navbar {
    margin: 0 5% 0 5%;
    font-weight: 700;
    font-size: larger;
    text-decoration: underline;
    border: 3px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
}

.navi {
    border: 1px solid black;
    background-color: blue;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    font-style: bold;
}

.navi:hover {
    background-color: orange;
    color: black;
}

.current {
    background-color: lightskyblue;
    color: black;
}

.main {
    margin: 10px 5% 10px 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 3px solid black;
}

.main a:link {
    text-decoration: none;
}

.main a:visited {
    color: white;
}

.main a:hover {
    background-color: orange;
    color: orange;
}

.summary, .picontainer {
    border: 2px solid black;
    text-align: center;
    background-color: green;
    color: white;
}

.pics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.picoverlap {
    position: relative;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

figcaption {
    font-family: Square Peg, Verdana, Arial, sans-serif;
    font-size: x-large;
}